bin/Debug/POEDuplicateScanner.exe
bin/Debug/POEDuplicateScanner.pdb
bin/Debug/POEDuplicateScanner.vshost.exe.manifest
bin/Debug/PoeStashSorterModels.dll
bin/Debug/PoeStashSorterModels.pdb
bin/Debug/*
obj/Debug/MainWindow.g.cs
bin/Debug/POEDuplicateScanner.exe
bin/Debug/POEDuplicateScanner.pdb
bin/Debug/PoeStashSorterModels.dll
bin/Debug/PoeStashSorterModels.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.i.cs
obj/Debug/POEDuplicateScanner.exe
obj/Debug/POEDuplicateScanner.pdb
obj/Debug/POEDuplicateScanner.csproj.CoreCompileInputs.cache
obj/Debug/POEDuplicateScanner.csproj.FileListAbsolute.txt
obj/Debug/POEDuplicateScanner.csprojResolveAssemblyReference.cache
obj/Debug/POEDuplicateScanner.g.resources
obj/Debug/POEDuplicateScanner_MarkupCompile.cache
obj/Debug/POEDuplicateScanner_MarkupCompile.i.cache
